<!DOCTYPE html>
<html>
<head>
    <title>Search Film</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Welcome to our film schedule!</h1>
<h2>Currently Playing Films</h2>
<ul>
    <li>Zjawa</li>
    <li>Matrix</li>
    <li>Incepcja</li>
</ul>


</body>
</html>